.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.card-chart {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    width: 436px;
   height: 370px;
}

.chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sidebar {
    width: 260px;
    transition: all 0.3s ease;
}

.sidebar-collapsed {
    margin-left: -260px;
}


.toggle-btn {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -260px !important;
        position: fixed;
        height: 100vh;
        z-index: 999;
    }

    .sidebar-open {
        margin-left: 0 !important;
    }


    .toggle-btn {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 2000;
        /* lebih tinggi dari sidebar */
        background: #0d6efd;
        border: none;
        color: white;
        padding: 8px 12px;
        border-radius: 6px;
    }


    .content {
        margin-left: 0 !important;
        width: 100%;
    }
}

.content {
    flex: 1;

}


.footer-left h4 {
    font-size: 1.5rem;
}

.footer-left p {
    font-size: 1rem;
}

.footer-icons i {
    font-size: 1.8rem;
}

@media (max-width: 576px) {
    .footer-left h4 {
        font-size: 1.1rem;
    }

    .footer-left p {
        font-size: 0.85rem;
    }

    .footer-icons i {
        font-size: 1.3rem;
    }

    .footer-icons a {
        margin-right: 0.6rem !important;
    }
}

.hover-shadow:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) !important;
}

nav a:hover {
    font-weight: 500;
}

.nav-link.active {
    font-weight: 700;
}

.btn-jawaban {
    background-color: #17A2B8;
    color: white;
    font-weight: 500;
    border: none;
}

.btn-bantu-jawaban {
    background-color: #17A2B8;
    color: white;
    border: none;
}

.card {
    min-height: 180px;
    border-radius: 10px;
}

.card img {
    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }



}

.custom-btn {
    background: #17A2B8;
    border: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background: #17A2B8;
    box-shadow: 0 0 10px rgba(101, 79, 240, 0.6);
    transform: translateY(-2px);
}

.bg-footer {
    background-color: #9EC5FE;
}

.card-body {
    padding: 1rem 1.25rem;
}

.card-title {
    font-size: 1.1rem;
}

.card-text {
    font-size: 0.95rem;
}